.header {
  padding: 0.5rem 2.5rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.header-logo {
  height: 5rem;
}

.headerRight {
  display: flex;
  align-items: center;
  overflow: hidden;
}

a > span {
  margin: 0 3rem;
  font-size: 2rem;
  cursor: pointer;
  color: white;
  font-weight: 400;
}

a > span:hover {
  color: rgb(203, 56, 56);
}
.login {
  padding: 1rem 2rem;
  background-color: rgb(203, 56, 56);
  font-size: 1.8rem;
  color: white;
  border-radius: 4px;
  transition: all 0.3s;
}
.login:hover {
  background-color: rgb(243, 31, 31);
}
.bars {
  display: none;
  background-color: transparent;
}

@media (max-width: 28em) {
  .headerRight {
    visibility: hidden;
    opacity: 0;
    width: 100vw;
    height: 70vh;
    position: absolute;
    top: 3.4%;
    left: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateX(100%);
    overflow: hidden;
    color: black;
    transition: all 0.3s linear;
  }

  .headerRight.active {
    visibility: visible;
    opacity: 1;
    transform: translateX(0%);
    transform-origin: right;
    transition: all 0.3s linear;
    z-index: 999;
    color: rgb(2, 2, 2);
    /* cursor: pointer; */
  }
  .bars.active {
    display: inline-block;
    font-size: 3.4rem;
    cursor: pointer;
    border: none;
  }
  a > span {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3rem 3rem;
    font-size: 2.3rem;
    cursor: pointer;
    color: rgb(255, 255, 255);
    z-index: 999;
    font-weight: 400;
    cursor: pointer;
  }
  body {
    overflow: hidden auto;
  }
  .login {
    padding: 1rem 2rem;
    background-color: rgb(203, 56, 56);
    font-size: 2.5rem;
    color: white;
    border-radius: 4px;
    transition: all 0.3s;
  }
}
