.App {
  text-align: center;
  color: white;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 61em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 49em) {
  html {
    font-size: 37%;
  }
}

